{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	
	<div class="h1 text-center">Settings</div>
	<div class="row pt-1">
		<div class="col-2 col-sm-2 col-lg-1">
		</div>
		<div class="col-2 col-sm-2 col-lg-2 pr-0">
			{% include 'settings/sidebar.html' %}
		</div>
		<div class="col-8 col-sm-8 col-lg-8 pl-0">
			<div class="card">
				<div class="card-body mt-4">
					{% include 'flash.html' %}
					<div class="container">
						<div class="h2 font-weight-bold text-center">
							Blocklist users
						</div>
						<div class="form-row align-items-center mt-4">
							<label class="sr-only" for="inlineFormInputGroup">Username</label>
							<div class="input-group mb-2">
								<input type="text" name="keyworddata" class="form-control" id="userblocksearch" placeholder="Username">
								<div class="input-group-append">
									<div class="input-group-text">
										<i class="fas fa-search"></i>
									</div>
								</div>
							</div>
						</div>
						<div id="resultsearchinguser">
						</div>
						<div class="h3">List</div>
						{% for key1, value1 in userphoto.items %}
							{% for key2, value2 in usersname.items %}
								{% if key1 == key2 %}
									<div class="row">
										<div class="col-3 text-center">
											{% if value1 == 'null' %}
												<img src="{% static 'default.png' %}" class="w-100 h-100">
											{% else %}
												<img src="{{ value1.picture.url }}" class="w-100 h-100">
											{% endif %}
										</div>
										<div class="col-6">
											<div class="h3">
												{{ value2 }}
											</div>
										</div>
										<div class="col-3">
											<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-title="Are you sure want to unblock this user ?" data-username="{{ value2 }}" data-urlaction="{% url 'followuser' key2 'unblocked' %}">
												Unblock user
											</button>
										</div>
									</div>
									<br>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-2 col-sm-2 col-lg-1">
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="titlemodal"></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div class="h3 text-center" id="targetuser"></div>
		  </div>
		  <div class="modal-footer">
			<a href="" id="blockbuttonsubmit" class="btn btn-primary">Yes</a>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	
{% endblock content %}

{% block javascript %}

	<script>
		window.routes = {
		  search : '{% url "searchenginedata" %}',
		}
		
		$("#userblocksearch").keyup(function() {
			keyword = document.getElementById('userblocksearch').value;
			if(keyword === ''){
				$('#resultsearchinguser').empty();
			}
			else{
				$.get(window.routes.search, {keyword:keyword, command:'users'}).then(function(response) {
					$('#resultsearchinguser').empty();
					var i = 1;
					$.each(response.image, function (id1, imagedatas) {
						var j = 1;
						$.each(response.title, function (id2, titledatas) {
							var k = 1;
							$.each(response.id, function (id3, iddatas) {
								if(i == j && j == k){
									link = "/users/"+iddatas+"/blocked";
									if(imagedatas == 'null'){
										$('#resultsearchinguser').append('<div class="row">'
																			+'<div class="col-3 text-center">'
																				+'<img src="{% static "default.png" %}" class="w-100 h-100">'
																			+'</div>'
																			+'<div class="col-6">'
																				+'<div class="h3">'
																					+titledatas
																				+'</div>'
																			+'</div>'
																			+'<div class="col-3">'
																				+'<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-title="Are you sure want to block this user ?" data-username="'+titledatas+'" data-urlaction="'+link+'">'
																					+'<span class="material-icons">lock</span>'
																				+'</button>'
																			+'</div>'
																		+'</div>'
																		+'<br>');
									}
									else{
										$('#resultsearchinguser').append('<div class="row">'
																			+'<div class="col-3 text-center">'
																				+'<img src="/static/file/'+imagedatas+'" class="w-100 h-100">'
																			+'</div>'
																			+'<div class="col-6">'
																				+'<div class="h3">'
																					+titledatas
																				+'</div>'
																			+'</div>'
																			+'<div class="col-3">'
																				+'<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-title="Are you sure want to block this user ?" data-username="'+titledatas+'" data-urlaction="'+link+'">'
																					+'<span class="material-icons">lock</span>'
																				+'</button>'
																			+'</div>'
																		+'</div>'
																		+'<br>');
									}
								}
								k = k + 1;
							});
							j = j + 1;
						});
						i = i + 1;
					});
				});
			}
		});
		
		$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget)
			var username = button.data('username')
			var link = button.data('urlaction')
			var title = button.data('title')
			var modal = $(this)
			document.getElementById('targetuser').innerHTML = username;
			document.getElementById('blockbuttonsubmit').href = link;
			document.getElementById('titlemodal').innerHTML = title;
		})
	</script>

{% endblock %}