{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="container-fluid mt-3">
		{% include 'flash.html' %}
	</div>
	<div class="container-fluid">
		<div class="h3">
			<center>Recent Post</center>
		</div>
		<div class="row">
			{% for key, value in newpost.items %} 
				{% for key2, value2 in newextpost.items %}
					{% if key == key2 %}
						<div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
							<div class="card">
							  <div class="card-body">
								{% if value2 == 'video' %}
									<video class="card-img-top" height="141px" width="141px" style="vertical-align:middle;" controls muted autoplay loop>
										<source src="{{ value.videodata.url }}">
										Your browser does not support HTML video.
									</video>
								{% elif value2 == 'slide' %}
									<iframe class="card-img-top" src="{% static value.slidedata.url %}" width="141px" height="141px"></iframe>
								{% elif value2 == 'image' %}
									<img class="card-img-top" src="{{ value.imagedata.url }}" width="141px" height="141px" alt="Card image cap">
								{% endif %}
							  </div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<div class="h3">
			<center>Trending Post</center>
		</div>
		<div class="row">
			{% for key, value in trendfile.items %} 
				{% for key2, value2 in trendextfile.items %}
					{% for key3, value3 in trendtitle.items %}
						{% for key4, value4 in trenduser.items %}
							{% if key == key2 and key2 == key3 and key3 == key4 %}
								<div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
									<div class="card">
										{% if value2 == 'video' %}
											<video class="card-img-top" height="141px" width="141px" style="vertical-align:middle;" controls muted autoplay loop>
												<source src="{{ value.videodata.url }}">
												Your browser does not support HTML video.
											</video>
										{% elif value2 == 'slide' %}
											<iframe class="card-img-top" src="{% static value.slidedata.url %}" width="141px" height="141px"></iframe>
										{% elif value2 == 'image' %}
											<img class="card-img-top" src="{{ value.imagedata.url }}" width="141px" height="141px" alt="Card image cap">
										{% endif %}
										<div class="card-body">
											<p class="card-text">{{ value3|truncatechars:50 }}</p>
											<p class="card-text">{{ value4 }}</p>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>

{% endblock %}	
